@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Balinese&display=swap');

:root {
  font-family: 'Noto Sans Balinese', sans-serif;
  --hf-color: #daa000;
  --small-text-color: #4e4e4e;
  --large-text-color: #000000;
  --icon-color: #3882F6;
  --border-radius: 10px;
  --form-input-width: 25rem;
}

/* CSS RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  /* Allow footer to remain at the bottom */
  position: relative;
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.header,
.footer {
  color: var(--large-text-color);
  background-color: var(--hf-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  font-family: 'Shadows Into Light', cursive, Georgia, 'Times New Roman', Times, serif;
  font-size: 2rem;
  font-weight: 900;
  padding: 2rem 0;
  letter-spacing: 1rem;
}

.footer {
  color: var(--small-text-color);
  position: absolute;
  padding: 1rem 0;
  bottom: 0;
  width: 100%;
  left: 0;
  gap: 10px;
}

.game-area {
  border: 5px solid blue;
  display: grid;
  min-height: 75vh;
  min-width: 100vw;
  margin: 3vh auto;
}